<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /docs/opth/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /docs/opth/index.html [L]
</IfModule>
